<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Of Life</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="gameMenu">
     <h2>Game of life</h2>
     <p id="msg"></p>
     <button onclick="getField()" >Start Game</button>
</div>

<div class="gameField">

</div>

<script type="text/javascript" src="script.js"></script>
</body>
</html>